/* line 11, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
h2 {
  font-family: "Poppins", sans-serif;
}

/* line 14, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
p {
  font-family: "Roboto Slab", serif;
}

/* line 25, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
nav {
  font-family: "Poppins", sans-serif;
}

/* line 27, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
nav .navbar-brand {
  font-size: 40px;
  color: #B85721 !important;
}

/* line 37, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.bg-dark {
  background-color: none !important;
}

/* line 43, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
footer a {
  color: #fff;
}

/* line 47, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.fcolor {
  background-color: #495758;
}

/* [1] The container */
/* line 53, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.img-hover-zoom {
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
/* line 59, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
/* line 64, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

/* line 69, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.about {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

/* line 74, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.about h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

/* line 82, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.about .barbwire {
  position: absolute;
  top: -10%;
}

/* line 92, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work {
  position: relative;
}

/* line 95, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 102, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work .barbwire {
  position: absolute;
  top: -7%;
}

/* line 108, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row {
  padding: 0;
  position: relative;
}

/* line 111, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .press {
  position: relative;
}

/* line 114, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .press h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 123, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .gallery {
  position: relative;
}

/* line 126, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .gallery h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 134, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .barbwire {
  position: absolute;
  top: -10%;
}

/* line 140, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact {
  position: relative;
}

/* line 143, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 151, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact .barbwire {
  position: absolute;
  top: -10%;
}

/* line 159, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work-header {
  position: relative;
  height: 350px;
  overflow-y: hidden;
}

/* line 164, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/* line 172, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work-header img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 180, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies {
  position: relative;
  padding-bottom: 5em;
}

/* line 186, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies h2 {
  position: absolute;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #B85721;
}

/* line 193, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies img {
  padding-top: 50px;
}

/* line 197, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies h3 {
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 203, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies p {
  font-family: "Roboto Slab", serif;
}

/* line 210, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movieinfo-header h1 {
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 214, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movieinfo-header h2 {
  font-family: "Poppins", sans-serif;
  color: #B85721;
}

/* line 221, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movierole p {
  color: #B85721;
}

/* line 229, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.gallery-header h1 {
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 233, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.gallery-header p {
  font-family: "Roboto Slab", serif;
}

/* line 240, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact-header h1 {
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 245, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
}

/* line 254, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
input[type=submit] {
  background-color: #000000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

/*# sourceMappingURL=main.css.map */