@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
/* line 18, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
h2 {
  font-family: "Poppins", sans-serif;
}

/* line 21, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
p {
  font-family: "Roboto Slab", serif;
}

/* line 33, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
nav {
  font-family: "Poppins", sans-serif;
}

/* line 35, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
nav .navbar-brand {
  font-size: 40px;
  color: #B85721 !important;
}

/* line 45, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.bg-dark {
  background-color: none !important;
}

/* line 51, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
footer a {
  color: #fff;
}

/* line 55, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.fcolor {
  background-color: #495758;
}

/* [1] The container */
/* line 61, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.img-hover-zoom {
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
/* line 67, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
/* line 72, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

/* line 77, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.homepage {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 84, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.v-header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

/* line 90, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.v-header .container {
  min-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 556px) {
  /* line 84, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .v-header {
    width: 550px;
    height: 300px;
  }
}

/* line 120, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* line 127, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

/* line 133, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.homenav {
  position: absolute;
  z-index: 100;
}

/* line 140, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 600px;
  background: #495758;
}

/* line 149, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements h2 {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

/* line 157, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements p {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 165, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements .icons {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

/* line 177, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements .barbwire {
  position: absolute;
  top: -3%;
}

@media screen and (min-width: 768px) {
  /* line 177, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .achievements .barbwire {
    top: -6%;
  }
}

@media screen and (min-width: 992px) {
  /* line 177, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .achievements .barbwire {
    top: -44px;
  }
}

@media screen and (min-width: 1420px) {
  /* line 177, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .achievements .barbwire {
    top: -70px;
  }
}

/* line 219, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.about {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

/* line 224, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.about h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

/* line 232, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.about .barbwire {
  position: absolute;
  top: -10%;
}

/* line 240, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work {
  position: relative;
}

/* line 243, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 250, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work .barbwire {
  position: absolute;
  top: -7%;
}

/* line 258, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.quote {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

/* line 263, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.quote p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

@media screen and (min-width: 768px) {
  /* line 271, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .quote p {
    font-size: 25px;
  }
}

/* line 275, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.quote .barbwire {
  position: absolute;
  top: -10%;
}

/* line 282, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row {
  padding: 0;
  position: relative;
}

/* line 285, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .press {
  position: relative;
}

/* line 288, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .press h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 297, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .gallery {
  position: relative;
}

/* line 300, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .gallery h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 308, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .barbwire {
  position: absolute;
  top: -10%;
}

/* line 314, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact {
  position: relative;
}

/* line 317, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 325, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact .barbwire {
  position: absolute;
  top: -10%;
}

/* line 341, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work-header {
  position: relative;
  height: 350px;
  overflow-y: hidden;
}

/* line 346, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/* line 354, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work-header img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 362, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies {
  position: relative;
  padding-bottom: 5em;
}

/* line 368, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies h2 {
  position: absolute;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #B85721;
}

/* line 375, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies img {
  padding-top: 50px;
}

/* line 379, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies h3 {
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 385, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies p {
  font-family: "Roboto Slab", serif;
}

/* line 391, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movielink p {
  color: black;
  text-decoration: none;
}

/* line 395, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movielink p:hover {
  color: #B85721;
}

/* line 401, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.iframe-container {
  align-items: center;
}

/* line 403, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.iframe-container iframe {
  width: 472px;
  height: 259px;
}

@media screen and (min-width: 768px) {
  /* line 403, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .iframe-container iframe {
    width: 692px;
    height: 416px;
  }
}

@media screen and (min-width: 992px) {
  /* line 403, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .iframe-container iframe {
    width: 1104px;
    height: 502px;
  }
}

/* line 418, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movieinfo-header h1 {
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 422, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movieinfo-header h2 {
  font-family: "Poppins", sans-serif;
  color: #B85721;
}

/* line 429, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movierole p {
  color: #B85721;
}

/* line 439, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.gallery-header h1 {
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 443, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.gallery-header p {
  font-family: "Roboto Slab", serif;
}

/* line 448, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.column {
  padding-bottom: 10em;
}

/* line 450, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.column img {
  margin-top: 12px;
}

/* line 457, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact-header h1 {
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 462, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
}

/* line 471, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
input[type=submit] {
  background-color: #000000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

/* line 485, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.agent-info {
  color: #495758;
  padding-top: 5em;
  padding-bottom: 10em;
}

/* line 490, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.agent-info h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
}

/*# sourceMappingURL=main.css.map */