@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
/* line 18, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
h2 {
  font-family: "Poppins", sans-serif;
}

/* line 21, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
p {
  font-family: "Roboto Slab", serif;
}

/* line 33, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
nav {
  font-family: "Poppins", sans-serif;
}

/* line 35, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
nav .navbar-brand {
  font-size: 40px;
  color: #B85721 !important;
}

/* line 45, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.bg-dark {
  background-color: none !important;
}

/* line 51, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
footer a {
  color: #fff;
}

/* line 55, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.fcolor {
  background-color: #495758;
}

/* [1] The container */
/* line 61, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.img-hover-zoom {
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
/* line 67, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
/* line 72, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

/* line 77, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.homepage {
  margin: 0;
  display: block;
}

/* line 83, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.v-header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

/* line 89, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.v-header .container {
  min-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 556px) {
  /* line 83, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .v-header {
    width: 550px;
  }
}

/* line 118, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* line 125, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

/* line 131, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.homenav {
  position: absolute;
  z-index: 100;
}

/* line 138, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 600px;
  background: #495758;
}

/* line 147, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements h2 {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

/* line 155, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements p {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 163, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements .icons {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

/* line 175, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.achievements .barbwire {
  position: absolute;
  top: -3%;
}

@media screen and (min-width: 768px) {
  /* line 175, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .achievements .barbwire {
    top: -6%;
  }
}

@media screen and (min-width: 992px) {
  /* line 175, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .achievements .barbwire {
    top: -44px;
  }
}

@media screen and (min-width: 1420px) {
  /* line 175, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .achievements .barbwire {
    top: -70px;
  }
}

/* line 217, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.about {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

/* line 222, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.about h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

/* line 230, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.about .barbwire {
  position: absolute;
  top: -10%;
}

/* line 238, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work {
  position: relative;
}

/* line 241, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 248, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work .barbwire {
  position: absolute;
  top: -7%;
}

/* line 256, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.quote {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

/* line 261, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.quote p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

@media screen and (min-width: 768px) {
  /* line 269, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .quote p {
    font-size: 25px;
  }
}

/* line 273, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.quote .barbwire {
  position: absolute;
  top: -10%;
}

/* line 280, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row {
  padding: 0;
  position: relative;
}

/* line 283, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .press {
  position: relative;
}

/* line 286, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .press h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 295, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .gallery {
  position: relative;
}

/* line 298, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .gallery h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 306, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.index-row .barbwire {
  position: absolute;
  top: -10%;
}

/* line 312, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact {
  position: relative;
}

/* line 315, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* line 323, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact .barbwire {
  position: absolute;
  top: -10%;
}

/* line 339, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work-header {
  position: relative;
  height: 350px;
  overflow-y: hidden;
}

/* line 344, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/* line 352, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.work-header img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 360, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies {
  position: relative;
  padding-bottom: 5em;
}

/* line 366, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies h2 {
  position: absolute;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #B85721;
}

/* line 373, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies img {
  padding-top: 50px;
}

/* line 377, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies h3 {
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 383, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movies p {
  font-family: "Roboto Slab", serif;
}

/* line 389, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movielink p {
  color: black;
  text-decoration: none;
}

/* line 393, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movielink p:hover {
  color: #B85721;
}

/* line 399, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.iframe-container {
  align-items: center;
}

/* line 401, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.iframe-container iframe {
  width: 472px;
  height: 259px;
}

@media screen and (min-width: 768px) {
  /* line 401, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .iframe-container iframe {
    width: 692px;
    height: 416px;
  }
}

@media screen and (min-width: 992px) {
  /* line 401, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
  .iframe-container iframe {
    width: 1104px;
    height: 502px;
  }
}

/* line 416, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movieinfo-header h1 {
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 420, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movieinfo-header h2 {
  font-family: "Poppins", sans-serif;
  color: #B85721;
}

/* line 427, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.movierole p {
  color: #B85721;
}

/* line 437, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.gallery-header h1 {
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 441, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.gallery-header p {
  font-family: "Roboto Slab", serif;
}

/* line 446, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.column {
  padding-bottom: 10em;
}

/* line 448, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.column img {
  margin-top: 12px;
}

/* line 455, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.contact-header h1 {
  font-family: "Poppins", sans-serif;
  color: #495758;
}

/* line 460, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
}

/* line 469, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
input[type=submit] {
  background-color: #000000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

/* line 483, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.agent-info {
  color: #495758;
  padding-top: 5em;
  padding-bottom: 10em;
}

/* line 488, ../../../../../Users/garrettholliday/Desktop/ART 324/project 3/holliday-celebrity/sass/main.scss */
.agent-info h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
}

/*# sourceMappingURL=main.css.map */