
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');





//Variables//

$poppins: 'Poppins', sans-serif;
$robotoslab: 'Roboto Slab', serif;
$orange: #B85721;
$green: #495758;

$spacer: 20px;


h2 {
font-family: $poppins
}
p{
font-family: $robotoslab
}



body {
  // background-color: black;
}


// NAV
nav {
  font-family: $poppins;
  .navbar-brand {
    font-size: 40px;
    color: $orange !important;
  }
  // .nav-item {
  //   font-size: 25px;
  //   color: black !important;
  // }
}

.bg-dark {
 background-color: none !important;
}

// FOOTER
footer {

  a {
    color: #fff;
  }
}
.fcolor {
  background-color: $green;
  }

// Img Hover Zoom
/* [1] The container */
.img-hover-zoom {
  // height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

//homepage
// .homepage {
//   width: 100%;
//   margin: 0;
//   padding: 0;
// }

 // HEADER VIDEO
.v-header {
  padding: 0 !important;
}
 .fullscreen-video-wrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}
.fullscreen-video-wrap video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.homenav {
  position: absolute;
  z-index: 100;
}


// ACHIEVEMENTS
.achievements {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 600px;
  background: $green;

  h2 {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
  }
  p {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .icons {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
  }
  // ul{
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  // }
  .barbwire {
    position: absolute;
    top: -3%;
    @media screen and(min-width: 768px){
      top: -6%;
    }
    @media screen and(min-width: 992px){
      top: -44px;
    }
    @media screen and(min-width: 1420px){
      top: -70px;
    }
  }
}
// .achievements {
//   position: relative;
//   text-align: center;
//   margin: 0 auto;
//   padding: 0;
//   h2 {
//     position: absolute;
//     top: 30%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: #fff;
//     font-size: 30px;
//   }
//   p {
//     position: absolute;
//     top: 60%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: #fff;
//
//   }
//   .barbwire {
//     position: absolute;
//     top: -10%;
//   }
// }

// ABOUT
.about {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
  }
  .barbwire {
    position: absolute;
    top: -10%;
  }
}


// WORK
.work {
  position: relative;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  .barbwire {
    position: absolute;
    top: -7%;
  }
}


// QUOTE
.quote {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  @media screen and (min-width: 768px) {
    p {
      font-size: 25px;
    }
  }
  .barbwire {
    position: absolute;
    top: -10%;
  }
}


.index-row {
  padding: 0;
  position: relative;
  .press {
    position: relative;

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }

  .gallery {
    position: relative;

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }
  .barbwire {
    position: absolute;
    top: -10%;
  }
}

.contact {
  position: relative;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .barbwire {
    position: absolute;
    top: -10%;
  }
}


// WORK page

.imagebackground {
  position: absolute;
  index: -100;
  max-height: 100vh;
}

.work-header {
  position: relative;
  height: 350px;
  overflow-y: hidden;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $poppins;
    color: #fff;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.movies {
  position: relative;
  // padding-top: 50px;
  // padding-left: 30px;
  padding-bottom: 5em;

  h2 {
    position: absolute;
    font-size: 4rem;
    font-family: $poppins;
    color: $orange;
  }

  img {
    padding-top: 50px;
  }

  h3 {
    padding-top: 50px;
    font-family: $poppins;
    color: $green;
  }

  p {
    font-family: $robotoslab;
  }
}

.movielink {
  p {
    color: black;
    text-decoration: none;
  }
  p:hover {
    color: $orange;
  }
}

// MOVIE INFO
.iframe-container {
  align-items: center;
  iframe {
    width: 472px;
    height: 259px;
    @media screen and(min-width: 768px){
      width: 692px;
      height: 416px;
    }
    // @media screen and(min-width: 992px){
    //   width: 1104px;
    //   height: 502px;
    // }
  }
}

.movie-info {
  padding-left: 10px;
  h1 {
    font-family: $poppins;
    color: $green;
  }
  h2 {
    font-family: $poppins;
    color: $orange;
  }
  p {
    padding: 0;
    margin: 0;
  }
}

.movierole {
  p {
    color: $orange;
  }
}




//GALLERY
.gallery-header {
  h1 {
    font-family: $poppins;
    color: $green;
  }
  p {
    font-family: $robotoslab;
  }
}

.column {
  padding-bottom: 10em; //10em could be a variable for padding
  img {
  margin-top: 12px;
  }
}

// CONTACT
.contact-header {
  h1 {
    font-family: $poppins;
    color: $green;
  }
}
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: #000000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;

}

 input[type=submit]:hover {
   // background-color: $orange;

 }

.agent-info {
  color: $green;
  padding-top: 5em;
  padding-bottom: 10em;

  h2 {
    font-family: $robotoslab;
    font-size: 1.5em;

  }
}

//ABOUT PAGE

.apprence {
  color: $orange;
}

//PRESS
.press-article {
  h3 {
    font-family: $poppins;
    color: $orange;
    margin-top: 15px;
  }
}

.button-sm{
  background: black;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  margin: 4px 2px;

 a {
  text-align: center;
  color: white;
  text-decoration: none;
 }
 p {
   margin: 0;
 }
}

.button-sm:hover {
  background-color: $orange ;
}
