//Variables//

$poppins: 'Poppins', sans-serif;
$robotoslab: 'Roboto Slab', serif;
$orange: #B85721;
$green: #495758;

$spacer: 20px;


h2 {
font-family: $poppins
}
p{
font-family: $robotoslab
}



body {
  // background-color: black;
}

// NAV
nav {
  font-family: $poppins;
  .navbar-brand {
    font-size: 40px;
    color: $orange !important;
  }
  // .nav-item {
  //   font-size: 25px;
  //   color: black !important;
  // }
}

.bg-dark {
 background-color: none !important;
}

// FOOTER
footer {
  a {
    color: #fff;
  }
}
.fcolor {
  background-color: $green;
  }

// Img Hover Zoom
/* [1] The container */
.img-hover-zoom {
  // height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

// ABOUT
.about {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
  }
  .barbwire {
    position: absolute;
    top: -10%;
  }
}
// .barbwire {
//   position: absolute;
//   top: -10%;
// }
// WORK
.work {
  position: relative;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  .barbwire {
    position: absolute;
    top: -7%;
  }
}

.index-row {
  padding: 0;
  position: relative;
  .press {
    position: relative;

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }

  .gallery {
    position: relative;

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }
  .barbwire {
    position: absolute;
    top: -10%;
  }
}

.contact {
  position: relative;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .barbwire {
    position: absolute;
    top: -10%;
  }
}


// WORK page
.work-header {
  position: relative;
  height: 350px;
  overflow-y: hidden;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $poppins;
    color: #fff;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.movies {
  position: relative;
  // padding-top: 50px;
  // padding-left: 30px;
  padding-bottom: 5em;

  h2 {
    position: absolute;
    font-size: 4rem;
    font-family: $poppins;
    color: $orange;
  }

  img {
    padding-top: 50px;
  }

  h3 {
    padding-top: 50px;
    font-family: $poppins;
    color: $green;
  }

  p {
    font-family: $robotoslab;
  }
}

// MOVIE INFO
.movieinfo-header {
  h1 {
    font-family: $poppins;
    color: $green;
  }
  h2 {
    font-family: $poppins;
    color: $orange;
  }
}

.movierole {
  p {
    color: $orange;
  }
}


//GALLERY
.gallery-header {
  h1 {
    font-family: $poppins;
    color: $green;
  }
  p {
    font-family: $robotoslab;
  }
}

// CONTACT
.contact-header {
  h1 {
    font-family: $poppins;
    color: $green;
  }
}
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: #000000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;

}

 input[type=submit]:hover {
   // background-color: $orange;

 }
